# Dependencies
node_modules/
package-lock.json

# Build and Temp folders
dist/
build/
.temp/
.cache/

# System Files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*

# Nested repositories
Web-clone/
